src/main/resources/xsd-schemas/ncbi-esummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    Handcrafted schema from xml (https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=taxonomy&id=9,9606,10090)
    Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com)
    @author Joan Segura Mora
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eSummaryResult">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element maxOccurs="unbounded" name="DocSum">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Id" type="xs:unsignedShort" />
                                <xs:element maxOccurs="unbounded" name="Item">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute name="Name" type="xs:string" use="required" />
                                                <xs:attribute name="Type" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ERROR" type="xs:string" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
